@font-face {
    font-family: narrow;
    src: url(../fonts/ArchivoNarrow-Regular.ttf);
}

body{
	padding: 0;
	width: 100%;
	font-family: narrow;

}


header{

	border-bottom: 2px solid #005AA8; 
	background-color: white;
}
.navbar{
	padding: 0!important;
	background-color: white;

}
.navbar img{
margin-right: 20px;
}
.navbar li{
	padding: 0 5px 0 5px;
}
.navbar li a {
	color: black!important;
	font-size: 14px;

}
.navbar li a:hover {
	color: #005AA8!important;
}
.navbar .active a {
	color: #005AA8!important;
}

.navbar span{
	border-left: : 1px solid #a9a9a93d;
	box-shadow:1px 1px 1px 1px #a9a9a93d;
}


.inicio{
	margin-top: 90px;
	height: 500px;
	position: relative;
}
.frase-inicio{
	width: 555px;
	height: 216px;
	background-color: #65b66f;
	position: absolute;
	margin-top: -300px;
	margin-left: 180px;
	font-family: narrow;
	color: white;
	font-weight: bold;
	font-size: 25px;
	padding: 25px;
}
.frase-inicio div{
	margin-right: 20px;
	width: 300px;
	border-bottom: 5px solid white;
	float:right;
}




.main{
  width:100%;
  height:500px;
  margin: 0 auto;
}
.slider-outer{
   height:100% !important;
   
  overflow:hidden;
}
.slide-image{
  width: 100%;
    height: 100%;
   display:block;
    color: transparent;
    background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: none;
}
.slider .slide-item{
  float:left;
    padding: 0;
    margin: 0;
}
.slide1{
	background-image: url(../img/casa_matriz.png);
}
.slide2{
	background-image: url(../img/inicio.png);
}
.clear{
  clear:both;
}
.slider2 {
  margin-top: 40px;
  max-width: 1200px;
  padding-bottom: 20px;
}
.slider2 {
  flex: 1 1 0;
  background-color: #fff;
}

.inner {
  padding: 30px;
}

.slider2 img {

  height: auto;
   -webkit-filter: grayscale(1);
  filter: grayscale(1);
  cursor: pointer;
}
.slider2 img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  cursor: pointer;
}


.la-empresa{
	height: 600px;
	background-image: url(../img/fondo.jpg);
	background-size: cover;
	position: relative;
}
.frase-empresa{
	margin-top: 60px;
	width: 600px;
	height: 220px;
	background-color: white;
	font-family: narrow;
	color: black;
	padding: 25px;
}
.titulo-empresa{
	margin-top: 170px;
	width: 600px;
	height: 65px;
	background-color: #005AA8;
	font-family: narrow;
	font-weight: 600;
	color: white;
	padding-top: 20px;
}
.frase-empresa div{
	margin-top: 0px;
	margin-right: 20px;
	width: 300px;
	border-bottom: 5px solid #005AA8;
	float:right;
}
.frase-empresa p{
	font-size: 14px;
}
.subtitulo{
	font-size: 16px!important;
	font-weight: bolder;
}
.vision{
	width: 205px;
	height: 315px;
	margin-top: -30px;	
	background-color: white;
	font-family: narrow;
	color: black;
	padding: 20px;
	box-shadow: 1px 1px 1px 1px #33333336;
}
.vision p{
	font-size: 14px;
}
.vision div{
	margin-top: 20px;
	width: 110px;
	border-bottom: 5px solid #005AA8;
	float:right;
}


.mision{
	width: 205px;
	height: 315px;
	margin-top: 50px;
	background-color: white;
	font-family: narrow;
	color: black;
	padding: 20px;
	box-shadow: 1px 1px 1px 1px #33333336;
}
.mision p{
	font-size: 14px;
}
.mision div{
	margin-top: 20px;
	width: 110px;
	border-bottom: 5px solid #005AA8;
	float:right;
}
.timeline-content{
	height: 600px;
}
.timeline-text{
	height: 190px;
}
.titulo-antecedente{
	margin-top: 50px;
	width: 600px;
	height: 65px;
	background-color: #005AA8;
	font-family: narrow;
	font-weight: 600;
	color: white;
	padding-top: 20px;
}
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hidden-lg{
	display: none!important;
}
.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #ccc;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
 border: 2px solid #888;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -16px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #888 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -16px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #888;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: white;
  border:1px solid red;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -16px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #888 transparent transparent;
  }
}



.marcas{
	height: 400px;
	background-image: url(../img/fondo.jpg);
	background-size: cover;
	position: relative;
}
.titulo-marcas{
	margin-top: 200px;
	width: 600px;
	height: 65px;
	background-color: #005AA8;
	font-family: narrow;
	font-weight: 600;
	color: white;
	padding-top: 20px;
}
.marca{

	padding-top: 100px;
}
.gris{
	background-color: #EFEFEF;
}
.marca img{
	width: 100px;
	padding-left: 5px;
	padding-bottom: 40px;
}
.marca-all{
	padding-top: 100px;
}
.marca-all img{
	width: 100px;
	padding-left: 5px;
	padding-bottom: 40px;
}
.linea-marca{
	width: 350px;
	border-bottom: 5px solid red;
	margin-left: 200px;
	
}
.logo-marca {
	float:right;
	margin-top: -15px;
}

.subtitulo-novedades{
	margin-left: 20px;
	margin-top: 47px;
	font-size: 20px;
}
.linea-novedades{
	padding-right: 700px;
	border-bottom: 12px solid red;
	margin-left: 150px;
	margin-top: 55px;
	position: absolute;
}
.linea-recetas{
	padding-right: 600px;
	border-bottom: 12px solid red;
	margin-left: 150px;
	margin-top: 55px;
	position: absolute;
}
.tarjeta-novedad{
	min-height: 250px;
	width: 215px;
	border: 1px solid #E6E6E6;
	padding: 20px;
	font-size: 8px;
}
.tarjeta-novedad img{
	height: 150px;
	width: 150px;
	
}
.novedades .col-md-4{
	padding-top: 70px;
}
.tarjeta-novedad-2{
	height: 100%;
	width: 100%;
	border: 1px solid #E6E6E6;
	padding: 20px;
	font-size: 14px;
	box-shadow: 2px 2px 2px 2px #99999991;
}
.tarjeta-novedad-2 img{
	width: 98%;
	
	
}
.volver {
	color: #005AA8;
	border-bottom: 3px solid #005AA8;
	text-decoration: none;
}
.volver:hover{
	text-decoration: none;
}
.sucursales{
	border: 1px solid #E6E6E6;
	padding: 0!important;
	margin-top: 50px;
	font-size: 14px;
	color: #7A7A7A;
}
.sucursales img{
	width: 100%;
}
.sucursales iframe{
	width: 100%;
}

.sucursales p{
	color: #005AA8;
	font-size: 20px;
	font-weight: bold;
}
.info-sucursal{
	margin-top: 50px;
}
.info-sucursal div{
	margin-top: 30px;
	width: 100%;
	border-bottom: 7px solid red;
}
.recetas {
	border: 1px solid #E6E6E6;
	text-decoration: none!important;

}
.recetas img{
	width: 100%;
	height: 150px;


}
.recetas p{
	margin-top: 50px;
	margin-left: 30px;
	font-size: 20px;
	color: #111;
	letter-spacing: 2px;
	font-weight: bold;
	padding: 10px;
	border-bottom: 7px solid #005AA8;
	width: 80%;
	text-decoration: none!important;
}
.recetas a:hover{
	text-decoration: none!important;
}
.recetas p:hover{
	text-decoration: none!important;
}
.titulo-recetas{
	margin-top: 200px;
	width: 650px;
	height: 65px;
	background-color: #005AA8;
	font-family: narrow;
	font-weight: 600;
	color: white;
	padding-top: 20px;
}

.detalles{
	margin-top: 50px;
	width: 650px;
	height: 50px;
	background-color: #fff;
	color: #7A7A7A;
	font-size: 12px;
	padding-top: 18px;
	padding-left: 20px;
}
.receta{
	background-size: cover;
	background-attachment: fixed;
	height: 450px;
}
.ingredientes, .preparacion{
border: 1px solid #E6E6E6;	
min-height: 400px;
margin-top: 50px;
box-shadow: 1px 1px 1px 1px #33333336;
padding: 20px;
}
.ingredientes span, .preparacion span{
	color: red;
}
.pasos iframe{
	width: 100%;
	margin-top: 50px;
}
.sub-receta{
	color: #7A7A7A;
	margin-top: 30px;
	width: 100px;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 2px solid #005AA8;
}

.sub-suc{
	font-weight: bold;
	font-size: 16px!important;
	color: #757575!important;
}
.sucursales-cont p{
	font-size: 15px;
	color: #ADADAD;
	margin-bottom: 0px!important;
}
.sucursales-cont label{
	font-size: 13px;
}
.sucursales-cont input{
	height: 20px;
	border-radius: 0!important;
}
.btn-outline-danger{
	float: right;
}
.sucursales-cont img{
	width: 100%;
}
.archivo{
	width: 300px;
	height: 200px;
	opacity: 0;
	margin-left: -120px;
	position: relative;
}
footer{
	height: 200px;
	margin-top: 50px;
	background-color: #f32f3d;
	padding: 25px;
	color: white;
	font-size: 14px;
}
footer i{
	font-size: 20px;
}
footer p{
	margin-bottom: 2px!important;
}
.facebook{
	color: white;
	
}

.linea-footer{
	display: none;
}


@media (max-width: 576px) {

.navbar{
	width: 80%
}
.navbar-brand img{
	width: 150px;
}
.slide1{
	background-image: url(../img/mobile_express.png);
}
.slide2{
	background-image: url(../img/inicio-mobile.png);
}
.slide1{
	width: 100%;
	background-size: cover;
}


.frase-inicio{
	display: none;
}
.frase-inicio div{
	width: 90%;
}
.logos-mobile{
	padding: 20px;

}
.logos-mobile img{
	margin-right: 20px;
}
.titulo-empresa, .titulo-antecedente{
	margin-left: 10px;
	width: 90%;
	font-size: 15px;
}
.frase-empresa{
	width: 90%;
	height: 300px;
}
.frase-empresa div{
	margin-top: 0px;
	margin-right: 20px;
	width: 250px;
}
.la-empresa{
	height: 650px;
}
.timeline-content{
	display: none;
}
.hidden-lg{
	display: block!important;
}
.vision{
	margin-left: -10px;
}
.mision{
	margin-top: 310px;
	margin-left: -135px;
}
.titulo-marcas{
	width: 90%;
	font-size: 15px;
}
.linea-marca{
	width: 120px;
	margin-left: 0px;
}
.marca{
	height: 100%;
}
.marca img{
	width:100px;
	padding-left: 5px;
	padding-bottom: 10px;
}
.linea-novedades{
	padding-right: 150px;
}
.novedades .col-md-4{
	margin-left: 20px;
}
.info-sucursal div{
	width: 90%;
	margin-left: 15px;
}
.linea-recetas{
	padding-right: 150px;
}
.titulo-recetas{
	width: 90%;
}
.detalles{
	width: 90%;
	height: 100%;
	padding-bottom: 10px;
}

footer{
	height: 100%;
	margin-top: 50px;
	background-color: #f32f3d;
	padding: 25px;
	color: white;
	font-size: 14px;
}
.linea-footer{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid white;
	width: 100%;
}

}

@media (min-width: 768px) { 


 }


@media (min-width: 992px) { 

 }

@media (min-width: 1200px) {

 }